<div id="<%= dom_id blog1 %>">
  <p>
    <strong>First name:</strong>
    <%= blog1.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= blog1.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= blog1.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= blog1.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= blog1.twitter %>
  </p>

</div>
